QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    font-family: Titillium;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
}

QPushButton {
    min-height: 50px;

}

.buttonLayout {
    padding: 20px;
    color: blue;
}