QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    font-family: Titillium;
    min-width: 300px;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
}

/* QPushButton {
    min-height: 50px;
    font-size: 20px;
}

QPushButton:hover {
    background-color: #85E0FF;

} */

.button:hover {
    background-color: #CCF4FF;
}

.levelButton {
    min-height: 50px;
    font-size: 22px;
    min-width: 425px;
}

.levelButton:hover {
    background-color: #CCF4FF;
}

.buttonLayout {
    padding: 20px;
    color: blue;
    background-color: blue;
}

.lessonButton {
    min-height: 50px;
    font-size: 22px;
    /* min-width: 425px; */
}

.lessonButton:hover {
    background-color: #CCF4FF;
}

.outerContainer {
    /* padding: 40px; */
    margin: 40px;
    /* align-items: center;
    justify-content: center; */
}

.scrollArea {
    /* background-color: #818080; */
    /* border-color: #818080;
    border-style: solid; */
    border: 1px solid #818080;
}

.select {
    padding-left: 20px;
}

